.loginBtn{
     background: linear-gradient(90deg, #586892 0%, #9ab2ba 100%);
   color: #F8EDE4;
 }
 .navAmountBtn{
    background: #a1adf5;
 }
 .navAmountBtn img{
    width: 25px;
    height: 25px;

 }
 .searchIcon{
    font-size: 28px;
}
.bannerImg{
   width: 100%;
    height: 280px;
    object-fit: cover;
}
.homeTabs::-webkit-scrollbar{
    display: none;
}
 
.activeHomeTab{
    border-bottom:3px solid #59637c;
}
.searchContainer{
    overflow: hidden;
    background: #535E71;

}
.searchContainer input{
    background: #535E71;
    color: #fff;
}
.searchContainer input::placeholder{
    color: #fff;
 }
 .gameImg{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 3px solid #c1c0bf;
 }
 .footer{
    background: #2A2F3F;
 }
 .socialIcon{
    width: 60px;
    height: 60px;
 }
 .sponsorImg{
    height: 40px;
    width: auto;
 }
 
 .footerNav{
    border-top: 2px solid #2a2f3f ;
    z-index: 99;
    background: #2a2f3f;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
 }
 .loginModalHeader{
    background: #36343A;
    color: #ddd;
 }
 .loginModalBody{
    background: #232226;
 }
 .loginTitle{
    width: 100%;
    text-align: center;
  }
  .loginInputContainer{
    border: 1px solid #fff;
    border-radius: 8px;
  }
  .navLoginBtn{
    width: 100%;
    background: #757F9A;
    color: #fff;
    border-radius: 4px;
     
  }
  .footerNavImg{
    width: 20px;
    height: 18px;
    object-fit: cover;
  }
  .flag{
   width: 38px;
   height:38px;
 }
 .homeMarquee{
   display: flex;
   align-items: center;
   border-radius: 8px;
      transform: skew(-20deg);  
      background: rgba(249, 248, 248, 0.5);
 }
  .langDropdown{
   background: none !important;
   min-width: 80px !important;
   max-width: 80px !important;
   transform: none !important;
   padding: 0px !important;
   margin-top: 10px !important ;
   border: none !important;
   }
 .langDropdown .dropdown-item{
   background: none !important;
 width: 80px;
 }
 .profileIcon{
   width: 30px;
   height: 30px;
   object-fit: contain;
 }
 .marqueeText{
   transform:  skew(20deg) ;
   font-size: 16px;
}
.logo{
   width: 80px;
   height: 80px;
}
.navUser{
   width: 50px;
   height: 50px;
}
.navCoin{
   width: 28px;
   height: 28px;
}
.navReload{
   width: 25px;
   height: 25px;
}
.providerBtn{
   border: 0 solid rgba(240, 241, 255, .35);
   border-radius: 2px;
   color: #fafafa;
    border: 0 solid rgba(240, 241, 255, .35);
    background: linear-gradient(180deg, #c3c3c3 17%, #6f6f6f 96%);
    box-shadow: -1px 1px 9px -3px #000000b0;
}
.gameListStart{
   border-top-left-radius: 25px;
   border-bottom-left-radius: 25px;
}
.gameListEnd{
   border-top-right-radius: 25px;
   border-bottom-right-radius: 25px;
}
.activeGameList{
   background: linear-gradient(180deg, #d60303 17%, #700101 96%);
}
.typeIcon{
   width: 35px !important;
   height: 35px !important ;
}
.typeName{
   font-size:14px;
}
@media screen and (max-width:800px) {
   .bannerImg{
      height: 250px;
   }
   .marqueeText{
      font-size: 15px;
   }
}
@media screen and (max-width:650px) {
   .bannerImg{
      height: 230px;
   }
}
@media screen and (max-width:600px) {
   .bannerImg{
      height: 200px;
   }
}
 @media screen and (max-width:500px) {
   .gameProvider{
      font-size: 13px;
   }
        .navAmountBtn{
            font-size: 13px;
        }
        .loginBtn{
            font-size: 14px;
        }
        .searchIcon{
            font-size: 22px;
        }
        .bannerImg{
            height: 180px;
        }
       
 }
 @media screen and (max-width:450px) {
   
   .homeMarquee{
       font-size: 14px;
   }
}
@media screen and (max-width:400px){
   .socialIcon{
      width: 50px;
      height: 50px;
   }
   .bannerImg{
      height: 150px;
  }
  .marqueeText{
   font-size: 14px;
  }
  .navUser{
   width: 45px;
   height:45px;
}
.navCoin{
   width: 25px;
   height: 25px;
}
.navReload{
   width: 22px;
   height: 22px;
}
.logo{
   width: 75px;
   height:75px;
}
}
 @media screen and (max-width:340px) {
    .bannerImg{
        height: 140px;
    }
    .sponsorImg{
        height: 35px;
      }
      
 }